#!/bin/sh

VERSION="9.6.0"

mkdir "deb_$VERSION"
cd "deb_$VERSION"

wget https://app.vagrantup.com/debian/boxes/stretch64/versions/$VERSION/providers/virtualbox.box
mv virtualbox.box debian_${VERSION}.box
tar xf debian_${VERSION}.box

VBoxManage createvm --name {{gl_vbox_name}} --ostype "Debian_64" --register
VBoxManage storagectl {{gl_vbox_name}} --name "SATA Controller" --add sata --controller IntelAHCI
VBoxManage storageattach {{gl_vbox_name}} --storagectl "SATA Controller" --port 0 --device 0 --type hdd --medium stretch.vmdk
VBoxManage storagectl {{gl_vbox_name}} --name "IDE Controller" --add ide
VBoxManage modifyvm {{gl_vbox_name}} --ioapic on
VBoxManage modifyvm {{gl_vbox_name}} --boot1 dvd --boot2 disk --boot3 none --boot4 none
VBoxManage modifyvm {{gl_vbox_name}} --memory 1024 --vram 128
VBoxManage modifyvm {{gl_vbox_name}} --nic1 NAT

VBoxManage modifyvm {{gl_vbox_name}} --vrdeproperty VNCPassword={{gl_vbox_vnc_password}}
