#!/bin/sh

BASEVM="{{gl_vbox_name}}"
SS_NAME=""{{gl_vbox_snapshot_name}}"
SLEEPTIME="90"

echo deleting old snapshot
vboxmanage snapshot $BASEVM delete $SS_NAME

echo starting $BASEVM
vboxheadless -s $BASEVM &

echo waiting $SLEEPTIME s for the box to start
sleep $SLEEPTIME

echo take new snapshot
vboxmanage snapshot $BASEVM take $SS_NAME

echo shutting down
vboxmanage controlvm $BASEVM acpipowerbutton
